.kasa-about-description {
    margin: 0px 10% 30px 10%;
  }

.kasa-information {

    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .kasa-about-description {
        margin: 0px 10px 30px 10px;
      }
}