.kasa-footer {
	color: white;
    background-color: black;
	height: 210px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 500;
	}

.kasa-footer p {
	margin-bottom: -10px;
}