.kasa-gallery {
  border-radius: 25px;
  background-color: #F6F6F6;
  margin: 100px 100px;
}

.kasa-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.kasa-li {
  font-size: 18px;
  border-radius: 10px;
  width: 29%;
  margin: 30px 2% 30px 2%;
  list-style-type: none;
  position: relative;
}

.kasa-img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kasa-title {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: white;
  line-height: 26px;
}

@media (max-width: 1080px) {
  .kasa-li {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .kasa-gallery {
    border-radius: 0px;
    background-color: white;
    margin: 10px 10px;
  }
  .kasa-ul {
    display: flex;
    flex-direction: column;
  }
  
  .kasa-li {
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px 10px 0px;
    list-style-type: none;
    position: relative;
    font-size: 16px;
  }
}


