.kasa-header {
    height: 70px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    margin: 100px 100px;
}

.kasa-header a {
    margin: 40px;
    color: #FF6060;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}