.kasa-carrousel {
    margin: 100px 100px;
    position: relative;
  }
  
.kasa-background {
    width: 100%;
    border-radius: 25px;
    height: 415px;
    object-fit: cover;
}
  
.kasa-arrow-back {
    position: absolute;
    top: 40%;
    left: 1%;
}
  
.kasa-arrow-forward {
    position: absolute;
    top: 40%;
    right: 1%;
}


@media (max-width: 768px) {

    .kasa-carrousel {
        margin: 20px 20px;
      }
      
    .kasa-background {
        width: 100%;
        border-radius: 25px;
        height: 415px;
        object-fit: cover;
    }

}