.kasa-list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    margin: 0% 5% 0px 5%;
    height: 52px;
    padding: 10px 20px 10px 15px;
    border-radius: 5px;
  
    h2 {
      color: white;
      font-size: 24px;
    }
  
    img {
      position: absolute;
      right: 1%;
      transition: 0.5s ease-in-out;
    }
  }
  
  .kasa-content {
    color: #FF6060;
    background-color: #F6F6F6;
    margin: 0% 5% 0px 5%;
    padding: 15px 30px;
    font-size: 20px;
    animation: content 1s;
  }
  
  @keyframes content {
    0% {
      transform: translateY(-50%);
    }
  
    100% {
      transform: translateY(0%);
    }
  }
  
  .buttonArrow {
    transform: rotate(-180deg);
  }
  
  .kasa-information {
    margin-bottom: 30px;
  }



@media (max-width: 768px) {
  .kasa-list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    margin: 0% 0% 0px 0%;
    height: 52px;
    padding: 10px 20px 10px 15px;
    border-radius: 5px;
}


  .kasa-content {
    margin: 0% 0% 0px 0%;
    padding: 15px 30px;
    font-size: 20px;
    animation: content 1s;
  }
}